<h1>New Game</h1>

<% @letters.each do |letter| %>
  <span class="letters"><%= letter %></span>
<% end %>
<p></p>
<form action="/score " method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name">
  <input type="submit">
</form>
<p></p>
<%= link_to "Play Again", new_path %>
<%= debug(params) if Rails.env.development? %>
